/*
header {
    color: gold;
    padding-left: 10px;
    font-size: 1vw;
}

header h1 {
    font-family: 'Ultra', sans-serif; 
    text-shadow: 0 2px goldenrod, 0 5px #777;
    font-size: 3vw;
    padding-top: 5px;
}

body {
    background-image: url(./img/singapore.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    color: black;
    background-color: rgba(179, 179, 179, 0.8);
    border-radius: 20px;
}

blockquote {
    font-family: monospace;
}

section h3 {
    font-weight: bold;
    font-style: italic;
}

footer {
    font-size: .55vw;
}

*/

.nav-link {
    padding-left: 210px !important;
    padding-right: auto !important;
}

.border-dark {
    border-color: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) !important;
}