header {
    color: gold;
}

body {
    background-image: url(img/singapore.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    background-color: rgba(179, 179, 179, 0.8);
}

blockquote {
    font-family: monospace;
}